<div class="tarif">

  <h1>Tarifs et conditions</h1>
<!-- 
  <p>
    Pour commander, on doit sélectionner : Le jour de la visite Le type de billet

  </p>
 -->
  <p>
    Le musée du Louvre est ouvert chaque jours, sauf les mardi, le 1er Mai, le 1er Novembre et le 25 décembre.
  </p>

  <p>
    Il existe 2 types de billets : le billet « Journée » et le billet « Demi-journée » (il ne permet de rentrer qu’à partir de
    14h00).
  </p>

  <p>
    L'entrée est gratuite pour les enfants de moins de quatres ans.
  </p>

  <H2>Liste des tarifs</H2>

  <ul>

    <li>
      De 4 à 12 ans : 8€
    </li>

    <li>
      De 12 à 60 ans : 18€
    </li>

    <li>
      + de 60 ans : 12€
    </li>

    <li>
      Tarif réduit : 10€ (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire)
    </li>


  </ul>

<p>
  En cas de tarif reduit, un justificatif vous sera demandé a l'entré.
</p>
</div>
