<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    bienvenue sur {{ title }}!
  </h1>

</div>

<hr>

<nav>
  <a routerLink="/tarifs">
    <mat-icon>euro_symbol</mat-icon>
    Tarifs
  </a>

  <a routerLink="/panier">
    <mat-icon>local_grocery_store</mat-icon>
    Panier
  </a>

  <a routerLink="/formulaire">
    <mat-icon>add_box</mat-icon>
    ajouter des tickets
  </a>
</nav>
<hr>

<router-outlet></router-outlet>








<!-- <mat-spinner></mat-spinner> -->
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar>  -->
